.van-col{
  text-align: center;
  padding:3px 0;
}
/* 导航条的字体颜色 */
.van-nav-bar__text{
  color: #fff !important;
}
.van-nav-bar--fixed{
  z-index: 99 !important;
}

/* 修改选择器的头背景色及固定选择器的位置*/
.van-picker__toolbar{
  background: #E5F2FA;
}
.van-picker {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 55px;
}

/*果冻效果 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }

  33.3% {
    -webkit-transform: translateY(6.25px);
    transform: translateY(6.25px);
  }

  /*44.4% {*/
    /*-webkit-transform: translateY(-3.125px);*/
    /*transform: translateY(-3.125px);*/
  /*}*/

  /*55.5% {*/
    /*-webkit-transform: translateY(1.5625px);*/
    /*transform: translateY(1.5625px);*/
  /*}*/

  66.6% {
    -webkit-transform: translateY(-0.78125px);
    transform: translateY(-0.78125px);
  }

  77.7% {
    -webkit-transform:  translateY(0.390625px);
    transform:  translateY(0.390625px);
  }

  88.8% {
    -webkit-transform:translateY(-0.1953125px);
    transform:  translateY(-0.1953125px);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }

  33.3% {
    -webkit-transform: translateY(6.25px);
    transform: translateY(6.25px);
  }

  /*44.4% {*/
    /*-webkit-transform:  translateY(-3.125px);*/
    /*transform:  translateY(-3.125px);*/
  /*}*/

  /*55.5% {*/
    /*-webkit-transform:  translateY(1.5625px);*/
    /*transform:  translateY(1.5625px);*/
  /*}*/

  66.6% {
    -webkit-transform: translateY(-0.78125px);
    transform:  translateY(-0.78125px);
  }

  77.7% {
    -webkit-transform:  translateY(0.390625px);
    transform:  translateY(0.390625px);
  }

  88.8% {
    -webkit-transform:translateY(-0.1953125px);
    transform:  translateY(-0.1953125px);
  }
}

@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }

  33.3% {
    -webkit-transform: translateY(6.25px);
    transform: translateY(6.25px);
  }

  /*44.4% {*/
  /*-webkit-transform: translateY(-3.125px);*/
  /*transform: translateY(-3.125px);*/
  /*}*/

  /*55.5% {*/
  /*-webkit-transform: translateY(1.5625px);*/
  /*transform: translateY(1.5625px);*/
  /*}*/

  66.6% {
    -webkit-transform: translateY(-0.78125px);
    transform: translateY(-0.78125px);
  }

  77.7% {
    -webkit-transform:  translateY(0.390625px);
    transform:  translateY(0.390625px);
  }

  88.8% {
    -webkit-transform:translateY(-0.1953125px);
    transform:  translateY(-0.1953125px);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: translateY(-12.5px);
    transform: translateY(-12.5px);
  }

  33.3% {
    -webkit-transform: translateY(6.25px);
    transform: translateY(6.25px);
  }

  66.6% {
    -webkit-transform: translateY(-0.78125px);
    transform:  translateY(-0.78125px);
  }

  77.7% {
    -webkit-transform:  translateY(0.390625px);
    transform:  translateY(0.390625px);
  }

  88.8% {
    -webkit-transform:translateY(-0.1953125px);
    transform:  translateY(-0.1953125px);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}
/* 修改tabbar和内容显示区域的显示层级 */
.van-tabbar--fixed{
  z-index: 5;
}
.mint-tabbar.is-fixed{
  z-index: 5;
}

/* 供选择项目的style start */
#wrapProject{
  position: relative;
  top: 0px;
  left:0;
  /*width:100%;*/
  height:100px;
  margin:0 auto;
  overflow: scroll;
  z-index: 99;
  overflow: scroll;
  background: #E5F2FA;
}
#innerWrapProject{
  height:100%;
}
#innerWrapProject .scrollProject{
  float: left;
  width:120px;
  height:90px;
  text-align: center;
  margin:0 5px;
  padding:5px;
  border-radius:10px;
  color: #fff;
  background: #59C13A
}
#innerWrapProject .scrollProject.bg{
  background-color: #FF4A58;
}
/* 隐藏滚动条 */
::-webkit-scrollbar{
  display:none;
}

/* 供选择项目的style end */

/* 图片预览 style start */
#showBigImage{
  position: fixed;
  top:0px;
  left:0px;
  display: none;
  z-index: 999;
  width:100%;
  background: rgb(0,0,0);
}
#showBigImage > img{
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
}
/* 图片预览 style end  */
/* 图片九宫格 style start */
.imgBox{
  padding:2%;
}
.imgnow{
  /*width: 32%;*/
  width:100px;
  height:100px;

  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  margin-right:5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.imgnow img{
  width: 100%;
  height:100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.imgnow .van-icon-checked,
.imgnow .van-icon-clear{
  position: absolute;
  top: 5px;
  right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*background-color: #fff;*/
  color: rgb(51, 163, 60);
  text-align: center;
  line-height: 19px;
  font-size: 18px;
}
.imgnow .van-icon-clear{
  color: red;
}
.imgnow .van-icon-delete{
  position: absolute;
  right: 6px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 19px;
  font-size: 18px;
}

/* 图片九宫格 style end */
/* 单选按钮*/
div.van-radio{
  width:30% !important;
  float: left;

}

/* 保存按钮 start*/
#save{
  position: fixed;
  left:0px;
  bottom:50px;
  width:100%;
  height:40px;
  text-align: center;
  line-height:40px;
  background: #2196F3;
  color:#fff;
  border-radius:4px;
  border:0;

}
#save:active{
  background: #1771f3;
}
/*保存按钮 end */

/*签到按钮 start*/
.van-col.van-col-16{
  position: relative;
}
.van-col.van-col-16>button.refreshBtn{
  position: absolute;
  top:5px;
  right:5px;
  z-index:9999;
  width:50px;
  height:30px;
  text-align: center;
  line-height:30px;
  border:none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #2196F3;
  color: #fff;
}
.van-col.van-col-16>button.refreshBtn:active{
  background: #1771f3;
}

/*签到按钮 end*/

/* 弹出层 start */
.mint-popup{
  font-size:20px;
  width:90%;

}

/* 弹出层 end */
/* 搜索结果列表提示信息  start */
#isShowAlertInfo{
  text-align: center;
  line-height:30px;
  color: #666;
}

/* 搜索结果列表提示信息  end */







