.van-col{
  text-align: center;
  padding:3px 0;
}
/* 导航条的字体颜色 */
.van-nav-bar__text{
  color: #fff !important;
}
.van-nav-bar--fixed{
  z-index: 99 !important;
}

/* 修改选择器的头背景色及固定选择器的位置*/
.van-picker__toolbar{
  background: #E5F2FA;
}
.van-picker {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 55px;
}

/*果冻效果 */
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewY(-12.5deg);
    transform: skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewY(6.25deg);
    transform: skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewY(-3.125deg);
    transform: skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewY(1.5625deg);
    transform: skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewY(-0.78125deg);
    transform: skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform:  skewY(0.390625deg);
    transform:  skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform:skewY(-0.1953125deg);
    transform:  skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewY(-12.5deg);
    transform: skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewY(6.25deg);
    transform: skewY(6.25deg);
  }

  44.4% {
    -webkit-transform:  skewY(-3.125deg);
    transform:  skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform:  skewY(1.5625deg);
    transform:  skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewY(-0.78125deg);
    transform:  skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform:  skewY(0.390625deg);
    transform:  skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform:skewY(-0.1953125deg);
    transform:  skewY(-0.1953125deg);
  }
}
.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}



